<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">キャンプ場の編集</h1>
        <div class="offset-md-3 col-md-6">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form"
                novalidate enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="title" class="form-label">タイトル</label>
                    <input type="text" name="campground[title]" class="form-control" id="title"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">OK</div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">場所</label>
                    <input type="text" name="campground[location]" class="form-control" id="location"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">OK</div>
                </div>

                <div class="mb-3">
                    <label for="price" class="price">価格</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">¥</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="価格"
                            aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                            required>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">説明</label>
                    <textarea type="text" name="campground[description]" class="form-control" id="description"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">OK</div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">画像のアップロード</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>

                <% campground.images.forEach(function (img,i) { %>
                    <img src="<%= img.thumnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">削除する</label>
                <% }) %>

                <div class="mb-3">
                    <button class="btn btn-info">更新する</button>
                </div>

            </form>
            <a href="/campgrounds">一覧に戻る</a>
        </div>
    </div>